.wrapper
	.relative
		#sec-main.wrapper-container
			h1.title.fw-bold PHÁT ĐỘNG PHONG TRÀO THI ĐUA
				br
				| CỦA NGÂN HÀNG NHÀ NƯỚC
				br
				|NĂM 2022
			#handle-click.buttonn-click
				a(href="#")
					img(src="./images/button.png", alt="")
		#sec-firework.wrapper-firework
			.firework-gif
		#sec-message.wrapper-content 
			h1.title.fw-bold ĐOÀN KẾT, SÁNG TẠO, ĐỔI, MỚI
				br
				|THI ĐUA HOÀN THÀNH XUẤT SẮC
				br
				|NHIỆM VỤ NGÂN HÀNG
				br
				|NĂM 2022