.wrapper-container
	.container 
		.qrcode-box 
			.bg-qrcode
				img(src="./images/lixi.png", alt="")
			.qrcode-content
				.qrcode-title 
					p Quét mã QR nhận ngay lì xì
				.qrcode-img 
					img(src="./images/qrcode.jpg", alt="")
				.qrcode-desc 
					p Sử dụng app HDBank mBanking để quét QR
				.message 
					p Sẽ tự động tắt sau: 10 giây
		.envelope-box
			img(src="./images/bithu.png", alt="")